.App {
  text-align: center;
}

.App-header {
  background-color: white;
  padding: 20px;
  color: white;
}

.App-logo {
  height: 10rem;
  pointer-events: none;
  position: relative;
  display:flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.selected-combo-container {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
  width: 20rem;
  /* border: 2px solid rgb(255, 255, 255); */
  color: aliceblue;
  font-size: 3rem;
  background-color: rgb(223, 93, 93);
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
  box-shadow: 10px 10px 25px lightslategray;
}

.child:hover {
  transform: scale(1.1);
  border: 8px solid rgb(227, 65, 50);
}

.selected-child-header {
  font-size: 4rem;
}

.form-container {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(250, 181, 188, 0.5);
}

.form-container form {
  display: flex;
  justify-content: center;
}

.form-container input {
  margin-right: 2rem;
  flex: 1;
}

.form-container button {
  width: 150px;
}

.form-container button:hover {
  transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(227, 65, 50);
}

.combination {
  margin: 1rem;
}

.combination button {
  margin-top: 0.5rem;
}

.form {
  margin: 5rem auto 0;
  width: 24rem;
}

.form button {
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  background: red;
  cursor: pointer;
}

.combo-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.combo-list-table {
  table-layout: fixed;
}

th {
  height: 60px;
  width: 9rem;
  font-size: 1.6rem;
  border-bottom: 7px solid rgb(255, 114, 114);
}

td {
  height: 5rem;
  font-size: 1.3rem;
  border-bottom: 2px solid rgb(255, 114, 114);
}

.combo-display-button{
  cursor: pointer;
}

.combo-display-button:hover {
  color: red;
  font-weight: bold;
}

.delete-button {
  cursor: pointer;
}

.delete-button:hover {
  color: red;
  font-weight: bold;
}

.emoji-button.favorite.active {
  cursor: pointer;
}

.emoji-button.favorite:hover {
  transform: scale(1.1);
  color: red
}